/********************************************
Imports / Plugins
********************************************/

@import 'tailwindcss';
@import 'tw-animate-css';

/********************************************
Dark Mode
********************************************/

@custom-variant dark (&:where(.dark, .dark *));

/********************************************
Tailwind Configuration
********************************************/

@theme {
  --font-geist: 'Geist', 'sans-serif';
  --font-inter: 'Inter', 'sans-serif';
  --breakpoint-xs: 30rem;
}

/********************************************
Shadcn Theming
********************************************/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #1084fe;
  --primary-foreground: #fcfcfc;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #dd4a35;
  --border: #eaeaea;
  --input: #eaeaea;
  --ring: #b5b5b5;
  --chart-1: #ee8a4c;
  --chart-2: #60b6a7;
  --chart-3: #42618a;
  --chart-4: #a8e067;
  --chart-5: #d4cd58;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #eaeaea;
  --sidebar-ring: #b5b5b5;
}

.dark {
  --background: #131313;
  --foreground: #fcfcfc;
  --card: #343434;
  --card-foreground: #fcfcfc;
  --popover: #343434;
  --popover-foreground: #fcfcfc;
  --primary: #59a7fb;
  --primary-foreground: #343434;
  --secondary: #454545;
  --secondary-foreground: #fcfcfc;
  --muted: #454545;
  --muted-foreground: #b5b5b5;
  --accent: #454545;
  --accent-foreground: #fcfcfc;
  --destructive: #e8705c;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8e8e8e;
  --chart-1: #5662d8;
  --chart-2: #55d294;
  --chart-3: #d4cd58;
  --chart-4: #a753d1;
  --chart-5: #d87052;
  --sidebar: #343434;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #5662d8;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #454545;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8e8e8e;
}

/********************************************
Global Styles / Utilities
********************************************/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scrollbar-gutter: stable;
    @apply m-0 h-full w-full;
  }

  body {
    @apply bg-background text-foreground font-geist tracking-wider;
  }
}

@layer utilities {
  .debug {
    @apply border-2 border-dashed border-red-500;
  }
}
