---
import '@styles/global.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import NavBar from '@/components/NavBar.astro';
import Hero from '@/components/Hero.astro';
import Preview from '@/components/Preview.astro';
import Features from '@/components/Features.astro';
import Support from '@/components/Support.astro';
import Footer from '@/components/Footer.astro';
---

<script is:inline>
  function setDarkMode(document) {
    const getThemePreference = () => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }

      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    };

    const isDark = getThemePreference() === 'dark';
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

    if (typeof localStorage !== 'undefined') {
      const observer = new MutationObserver(() => {
        const isDark = document.documentElement.classList.contains('dark');
        localStorage.setItem('theme', isDark ? 'dark' : 'light');
      });

      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ['class']
      });
    }
  }

  setDarkMode(document);

  document.addEventListener('astro:before-swap', (ev) => {
    setDarkMode(ev.newDocument);
  });
</script>

<html
  lang="en"
  class="scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>Journaler</title>
    <link
      rel="icon"
      type="image/png"
      href="/favicon.png"
    />
  </head>
  <body
    class="flex w-full flex-col items-center gap-12 overflow-x-hidden pt-24 sm:gap-16 md:gap-20 md:pt-32"
  >
    <NavBar />
    <Hero />
    <Preview />
    <Features />
    <Support />
    <Footer />
  </body>
</html>
