---
import { Icon } from 'astro-icon/components';

interface Props {
  icon: string;
  title: string;
  text: string;
}

const { icon, title, text } = Astro.props;
---

<div
  class="hover:border-primary flex flex-col items-start justify-start rounded-lg border border-gray-200 p-8">
  <div class="bg-primary/10 mb-4 flex flex-col items-center justify-center rounded-lg p-3">
    <Icon
      name={icon}
      class="text-primary size-6"
    />
  </div>

  <h2 class="mb-2 text-lg font-bold text-gray-800">{title}</h2>

  <p class="text-gray-500">{text}</p>
</div>
