---

---

<footer
  class="border-border flex w-full flex-col items-center justify-center border-t bg-neutral-50 px-6 py-8 lg:px-8 dark:bg-neutral-950/40"
>
  <div
    class="flex w-full max-w-[70rem] flex-col gap-8 sm:flex-row sm:items-start sm:justify-between"
  >
    <div class="flex flex-row items-center justify-start gap-8">
      <!-- App Name -->
      <p class="text-foreground text-lg font-semibold">Journaler</p>

      <!-- Copyright -->
      <p class="text-muted-foreground text-sm">© 2025 Journaler. All rights reserved.</p>
    </div>

    <div class="flex flex-row items-center justify-end gap-8">
      <!-- Privacy Policy -->
      <a
        href=""
        class="text-muted-foreground hover:text-foreground text-sm transition-colors"
      >
        Privacy Policy
      </a>
    </div>
  </div>
</footer>
