---

---

<div class="w-full px-8">
  <p>Journaler</p>
  <p>© 2025 Journaler. All rights reserved.</p>

  <h3>Product</h3>
  <p>Download</p>
  <p>GitHub</p>

  <h3>Support</h3>
  <p>Buy Me a Coffee</p>

  <h3>Legal</h3>
  <p>Privacy Policy</p>
</div>
