---

---

<div
  class="flex h-48 w-full flex-col items-center justify-center bg-neutral-50 px-8 text-sm dark:bg-neutral-950">
  <div class="flex w-[70rem] flex-row items-center justify-between">
    <div class="flex flex-col items-start justify-center">
      <p class="text-lg font-bold">Journaler</p>
      <p class="text-neutral-500">© 2025 Journaler. All rights reserved.</p>
    </div>

    <div class="flex flex-row items-start justify-between gap-6">
      <div class="flex flex-col items-start justify-center gap-2">
        <h3>Product</h3>
        <a
          href=""
          target="_blank"
          class="text-neutral-500"
          >Download</a
        >
        <a
          href=""
          target="_blank"
          class="text-neutral-500"
          >GitHub</a
        >
      </div>

      <div class="flex flex-col items-start justify-center gap-2">
        <h3 class="font-bold">Support</h3>
        <a
          href=""
          target="_blank"
          class="text-neutral-500"
          >Buy Me a Coffee</a
        >
      </div>

      <div class="flex flex-col items-start justify-center gap-2">
        <h3 class="font-bold">Legal</h3>
        <a
          href=""
          target="_blank"
          class="text-neutral-500"
          >Privacy Policy</a
        >
      </div>
    </div>
  </div>
</div>
