---
import { Button } from '@/components/ui/button';
import ThemeSelector from '@/components/ThemeSelector.vue';
import { Icon } from 'astro-icon/components';
---

<header
  id="navbar"
  class="fixed top-0 z-50 flex w-full justify-center border-b border-transparent bg-background/80 backdrop-blur-lg transition-colors duration-200">
  <div class="flex w-[70rem] flex-row items-center justify-between py-4">
    <a href="#" class="flex w-60 flex-row items-center gap-2">
      <img src="/favicon.png" alt="Journaler" class="size-6" />
      <span class="text-xl font-semibold">Journaler</span>
    </a>

    <nav class="hidden items-center gap-8 md:flex">
      <a
        href="#features"
        class="text-base font-medium text-foreground/80 transition-colors hover:text-foreground">
        Features
      </a>
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="text-base font-medium text-foreground/80 transition-colors hover:text-foreground">
        GitHub
      </a>
    </nav>

    <div class="flex w-60 flex-row items-center justify-end gap-2">
      <ThemeSelector client:only="vue" />

      <Button>
        <a
          href=""
          target="_blank"
          class="flex flex-row items-center justify-center gap-2 text-neutral-500">
          <Icon
            name="mdi:download"
            class="size-4 text-white dark:text-neutral-900"
          />
          <p class="text-white dark:text-neutral-900">Download</p></a
        >
      </Button>
    </div>
  </div>
</header>

<script>
  const navbar = document.getElementById('navbar');

  function updateNavbarBorder() {
    if (window.scrollY > 0) {
      navbar?.classList.remove('border-transparent');
      navbar?.classList.add('border-neutral-200', 'dark:border-neutral-800');
    } else {
      navbar?.classList.remove('border-neutral-200', 'dark:border-neutral-800');
      navbar?.classList.add('border-transparent');
    }
  }

  updateNavbarBorder();
  window.addEventListener('scroll', updateNavbarBorder);
</script>
