---
import ThemeSelector from '@/components/ThemeSelector.vue';
import { Icon } from 'astro-icon/components';

interface Props {
  showBackLink?: boolean;
}

const { showBackLink = false } = Astro.props;
---

<header
  id="navbar"
  class="bg-background/80 fixed top-0 z-50 flex w-full justify-center border-b border-transparent backdrop-blur-lg transition-colors duration-200"
>
  <div
    class="flex w-full max-w-[70rem] flex-row items-center justify-between px-4 py-4 sm:px-6 lg:px-0"
  >
    <div class="flex flex-row items-center gap-6">
      <!-- Logo -->
      <a
        href="/"
        class="flex flex-row items-center gap-2"
      >
        <img
          src="/favicon.png"
          alt="Journaler"
          class="size-6"
        />
        <span class="text-xl font-semibold">Journaler</span>
      </a>

      {
        showBackLink && (
          <a
            href="/"
            class="text-foreground/80 hover:text-foreground flex flex-row items-center gap-1.5 text-sm font-medium transition-colors"
          >
            <Icon
              name="mdi:arrow-back"
              class="size-4 text-zinc-900 dark:text-white"
            />
            Back to Home
          </a>
        )
      }
    </div>

    <!-- Theme -->
    <ThemeSelector client:only="vue" />
  </div>
</header>

<script>
  // Add/remove navbar bottom border when scrolling

  const navbar = document.getElementById('navbar');

  function updateNavbarBorder() {
    if (window.scrollY > 0) {
      navbar?.classList.remove('border-transparent');
      navbar?.classList.add('border-neutral-200', 'dark:border-neutral-800');
    } else {
      navbar?.classList.remove('border-neutral-200', 'dark:border-neutral-800');
      navbar?.classList.add('border-transparent');
    }
  }

  updateNavbarBorder();
  window.addEventListener('scroll', updateNavbarBorder);
</script>
