---
import ThemeSelector from '@/components/ThemeSelector.vue';

interface Props {
  showFeatures?: boolean;
  showBackLink?: boolean;
}

const { showFeatures = true, showBackLink = false } = Astro.props;
---

<header
  id="navbar"
  class="bg-background/80 fixed top-0 z-50 flex w-full justify-center border-b border-transparent backdrop-blur-lg transition-colors duration-200"
>
  <div
    class="flex w-full max-w-[70rem] flex-row items-center justify-between px-4 py-4 sm:px-6 lg:px-0"
  >
    <div class="flex flex-row items-center gap-6">
      <!-- Logo -->
      <a
        href="/"
        class="flex flex-row items-center gap-2"
      >
        <img
          src="/favicon.png"
          alt="Journaler"
          class="size-6"
        />
        <span class="text-xl font-semibold">Journaler</span>
      </a>

      {
        showBackLink && (
          <a
            href="/"
            class="text-foreground/80 hover:text-foreground flex flex-row items-center gap-1.5 text-sm font-medium transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m12 19-7-7 7-7" />
              <path d="M19 12H5" />
            </svg>
            Back to Home
          </a>
        )
      }
    </div>

    <!-- Links -->
    <div class="flex flex-row items-center justify-end gap-8">
      {
        showFeatures && (
          <a
            href="#features"
            class="text-foreground/80 hover:text-foreground text-base font-medium transition-colors"
          >
            Features
          </a>
        )
      }

      <a
        href="https://www.github.com/davidglassman/journaler-private"
        target="_blank"
        rel="noopener noreferrer"
        class="text-foreground/80 hover:text-foreground text-base font-medium transition-colors"
      >
        GitHub
      </a>

      <!-- Theme -->
      <ThemeSelector client:only="vue" />
    </div>
  </div>
</header>

<script>
  // Add/remove navbar bottom border when scrolling

  const navbar = document.getElementById('navbar');

  function updateNavbarBorder() {
    if (window.scrollY > 0) {
      navbar?.classList.remove('border-transparent');
      navbar?.classList.add('border-neutral-200', 'dark:border-neutral-800');
    } else {
      navbar?.classList.remove('border-neutral-200', 'dark:border-neutral-800');
      navbar?.classList.add('border-transparent');
    }
  }

  updateNavbarBorder();
  window.addEventListener('scroll', updateNavbarBorder);
</script>
