---
import { Button } from '@/components/ui/button';
---

<div class="w-screen px-8">
  <h2>Support the Project</h2>

  <p>Journaler is free and always will be. If you find it useful, consider buying me a coffee.</p>

  <Button>Buy Me a Coffee</Button>
</div>
