---
import { Button } from '@/components/ui/button';
import { Icon } from 'astro-icon/components';
---

<div
  class="flex w-full max-w-[70rem] flex-col items-center justify-center px-6 text-center lg:px-8"
>
  <Icon
    name="mdi:heart-outline"
    class="text-muted-foreground h-8 w-8"
  />

  <h2 class="text-foreground mt-4 text-2xl font-semibold md:text-3xl">Support the Project</h2>

  <div class="text-muted-foreground mt-4 flex flex-col items-center justify-center text-base">
    <p>Journaler is free and always will be.</p>
    <p>If you find it useful, consider buying me a coffee.</p>
  </div>

  <Button
    variant="outline"
    size="lg"
    class="mt-6 bg-transparent"
  >
    <a
      href="https://buymeacoffee.com/"
      target="_blank"
      class="flex flex-row items-center justify-center gap-2"
    >
      <Icon
        name="fluent:drink-coffee-24-regular"
        class="size-4"
      />
      Buy Me a Coffee</a
    >
  </Button>
</div>
