---
import "@styles/global.css";
import "@fontsource/geist";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <title>Astro Starter Template</title>
  </head>
  <body>
    <slot />
  </body>
</html>
